
#Root[data-theme="light"] {

  --primary-color-values: 235, 235, 235;
  --primary-color: rgb(var(--primary-color-values));
  --primary-color-accented: rgba(
    var(--primary-dark-values), 
    .8
  );

  --primary-contrast-color-values: 12, 12, 12;
  --primary-contrast-color: rgb(var(--primary-contrast-color-values));
  --primary-contrast-color-accented: rgba(
    var(--primary-contrast-color-values),
    .8
  );
  
  --primary-border: 1px solid var(--primary-contrast-color);

  --test-focus-1: white;
  --test-focus-2: black;
}
